In [9]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None) #For displaying all the columns of dataset

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import RandomizedSearchCV
import pickle

from __future__ import absolute_import, division, print_function
import tensorflow as tf

In [3]:
train = pd.read_csv('./data/train.csv')

In [5]:
test = pd.read_csv('./data/test.csv')

In [4]:
train

       Unnamed: 0                                        file_name  label
0               0  train_data/a6dcb93f596a43249135678dfcfc17ea.jpg      1
1               1  train_data/041be3153810433ab146bc97d5af505c.jpg      0
2               2  train_data/615df26ce9494e5db2f70e57ce7a3a4f.jpg      1
3               3  train_data/8542fe161d9147be8e835e50c0de39cd.jpg      0
4               4  train_data/5d81fa12bc3b4cea8c94a6700a477cf2.jpg      1
...           ...                                              ...    ...
79945       79945  train_data/9283b107f6274279b6f15bbe77c523aa.jpg      0
79946       79946  train_data/4c6b17fe6dd743428a45773135a10508.jpg      1
79947       79947  train_data/1ccbf96d04e342fd9f629ad55466b29e.jpg      0
79948       79948  train_data/ff960b55f296445abb3c5f304b52e104.jpg      1
79949       79949  train_data/3abd1876472f4ec988aa78f76664fbd6.jpg      0

[79950 rows x 3 columns]

In [6]:
test

                                                   id
0      test_data/e25323c62af644fba97afb846261b05b.jpg
1      test_data/63c7596c97d74c1cb6323db1b7380d5e.jpg
2      test_data/0a5eb7abb22b439580836e22d89e8ca1.jpg
3      test_data/371eddabfc1349a08534ce2292c4c4d3.jpg
4      test_data/7280ea6acaa14a52b7218ae36305b218.jpg
...                                               ...
19981  test_data/796cac2f053b4fc1866a81921e1fe3fa.jpg
19982  test_data/789ee13ba9f84e138913e0a9f7d5d93b.jpg
19983  test_data/a77a1a10cac34f98a085e51997227dbd.jpg
19984  test_data/23641fee71b142b288958f4cdd91d001.jpg
19985  test_data/56d90ca3f14a44a9b4fde455eeaa19c3.jpg

[19986 rows x 1 columns]